@font-face {
  font-family: Osiris;
  src: url('./fonts/osiris.otf');
}

@font-face {
  font-family: Gilroy;
  src: url('./fonts/gilroy.otf');
}
/* global stylesheet */
html,
body {
  position: relative;
}

body {
  font-family: "Gilroy", sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}


