@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer components {
  /* global style */
  .page-container {
    @apply h-screen overflow-hidden rounded-b-xl lg:rounded-b-3xl border-l border-b-2 border-brandlesblue w-full;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      linear-gradient(253.4deg, #0072FF -3.22%, #820DB6 101.86%);
    ;
  }

  .btn {
    @apply px-10 py-2 rounded-full transition-all hover:scale-[1.05];
  }

  .btn-sm {
    @apply px-5 py-2 rounded-full transition-all hover:scale-[1.02];
  }

  .btn-primary {
    @apply text-white;
    background: linear-gradient(262.43deg, #6730A7 13.4%, #2AD8D6 86.96%);
  }

  .btn-tools {
    @apply text-white;
    background: #0072FF; 
  }

  .btn-disabled {
    @apply text-white;
    background: rgba(250, 250, 250, 0.2);
  }


  /* header style */
  .header-container {
    @apply absolute px-6 py-6 xl:px-16 xl:py-9 flex justify-between w-full;
  }

  .logo-container {
    @apply py-1;
  }

  .logo {
    @apply h-10 xl:h-24;
  }

  .nav-container {
    @apply hidden xl:flex space-x-4 items-center w-fit;
  }

  /* footer styles */
  .footer-container {
    @apply flex flex-col md:flex-row md:justify-between md:px-16 md:py-12;
  }

  .footer-item {
    @apply flex flex-col space-y-6;
  }

  .footer-item-title {
    @apply font-bold;
  }

  .footer-item-link {
    @apply text-brandlesblue;
  }

  .footer-logo-container {
    @apply p-[1px] flex flex-col space-y-6 items-center bg-gradient-to-b from-[#0072ff] to-[#00000000] rounded-t-[20px];
  }

  .footer-logo {
    @apply h-24 absolute -top-8;
  }

  .footer-logo-viewport {
    @apply px-10 py-8 w-full h-full rounded-t-[20px] bg-black relative flex flex-col items-center space-y-4;
  }

  .footer-price {
    @apply text-skyblue;
  }

  .footer-item-group {
    @apply flex flex-col space-y-6 md:flex-row md:space-x-24 md:space-y-0 w-fit; 
  }

  /* landing container */
  .landing-container {
    @apply h-screen bg-landing flex flex-col items-center justify-center space-y-6;
  }
}