@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer components {
  /* global style */
  .page-container {
    @apply h-screen overflow-hidden rounded-b-xl lg:rounded-b-3xl border-l border-b-2 border-brandlesblue w-full;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      linear-gradient(253.4deg, #0072FF -3.22%, #820DB6 101.86%);
    ;
  }

  .btn-base {
    @apply px-10 py-2 rounded-full transition-all hover:scale-[1.05];
  }

  .btn-primary {
    @apply text-white hover:border-brandlesblue;
    background: linear-gradient(262.43deg, #6730A7 13.4%, #2AD8D6 86.96%);
  }

  .btn-disabled {
    @apply text-white;
    background: rgba(250, 250, 250, 0.2);
  }


  /* header style */
  .header-container {
    @apply absolute px-6 py-6 xl:px-16 xl:py-9 flex justify-between w-full;
  }

  .logo-container {
    @apply py-1;
  }

  .logo {
    @apply h-6 xl:h-10;
  }

  .nav-container {
    @apply hidden xl:flex space-x-4 w-fit;
  }

  /* landing container */
  .landing-container {
    @apply h-screen bg-landing flex flex-col items-center justify-center space-y-6;
  }
}